/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/
header,
footer {
    grid-column-start: 1;
    grid-column-end: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

html, body {
    display: flex;
    justify-content: center;
}

#wrapper {
    min-height: 100vh;

    min-width: 90vw;
    max-width: 1200px;

    display: grid;
    justify-content: center;

    grid-template-columns: 33.3% 66.6% 200px;
    grid-template-rows: 4rem 100% 3rem;
}

.menuitem {
    background-color: white;
    margin: 0 0 0 0;
    border-top: 1px solid #b5e7a0;
}

.submenu {
    display: none;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.submenu li {
    padding-left: .25rem;
    background-color: lightgray;
}

aside {
    grid-column-start: 1;
    grid-column-end: 1;

    grid-row-start: 2;
    grid-row-end: 2;
}

nav {
    grid-column-start: 3;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 2;
}
