
html {
    background-image: url(images/triangle.svg);
    background-size: 80%;
    background-repeat: no-repeat;
}

/*mobile devices*/
@media screen and (max-width: 600px) {
    html {
        background-size: 110%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        max-width: 400px;
    }

    /*https://www.w3schools.com/howto/howto_css_menu_icon.asp*/
    .hamburger {
        display: flex;
        order: 1;
        width: 25px;
        height: 5px;
        background-color: white;
        margin: 4px;
        transition: .8s;
    }

    .change [role="Navigation"] {
        display: flex;
    }

    .change .hamburger:nth-child(1) {
        -webkit-transform: rotate(-45deg);
        transform:rotate(-45deg) translate(-5px, 8px);
    }
    
    .change .hamburger:nth-child(2) {
        opacity: 0;
    }
    
    .change .hamburger:nth-child(3) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg) translate(-5px, -8px);
    }

    button {
        display: none;
    }

    h1 {
        order: 1;
        align-self: flex-start;
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 70px;
        margin-left: 40px;
    }

    h2 {
        order: 3;
        font-size: 50px;
        align-self: flex-end;
        flex-shrink: 1;
        text-align: center;
        color: #c4285b;
        font-family: 'Montserrat', sans-serif;
        margin-top: 100px;
        margin-right: 10%;
    }

    [role="navigation"] {
        display: none;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

button, button a {
    border: none;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}

button a {
    padding: 5px 0px 5px 10px;
}

.navigation {
    order: 2;
    margin-left: 40px;
}

.dropdown-content {
    display: none;
    z-index: 1;
    opacity: 0;
    margin: 10px 15px 5px 15px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.show {
    display: flex;
}

svg {
    height: 5%;
    width: 5%;
}

h1 {
    order: 1;
    align-self: flex-start;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    margin-left: 40px;
}

h2 {
    order: 3;
    font-size: 50px;
    align-self: flex-end;
    flex-shrink: 1;
    text-align: center;
    color: #c4285b;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    margin-right: 10%;
}



